<% include index_header.ejs%>
  <section id="container" >
     <% include index_topbar.ejs%>
     <% include index_menuside.ejs%>
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <div class="row">
                <%include index_maincontent.ejs%>
                <%include index_rightside.ejs%>
              </div><! --/row -->
          </section>
      </section>
<% include index_footer.ejs%>
