  <div id="footer">
	  <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="view_window">蜀ICP备17023608号 |
        <a href="/v1/api/login" target="view_window"><%= footer.Dashboard%></a>|
        <a href="mailto:nowindxdw@126.com"><%= footer.designer%> </a>|
        <a href="#"><%= footer.copyright%></a>
  </div><!--close footer-->
  <!--<embed src="/music/bandari.mp3" width="100%" height="50" loop="false" autostart="false">-->
  <!--</embed>-->
  </body>
  </html>
