<!DOCTYPE html >
<html xml:lang="<%= header.lang%>">

<head>
  <title data-style="nightsky"><%= header.title%></title>
  <meta name="description" content="<%= header.description%>" />
  <meta name="keywords" content="<%= header.keywords%>" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/nightsky/css/style.css" />
  <script type="text/javascript" src="/nightsky/js/jquery.min.js"></script>
  <script type="text/javascript" src="/nightsky/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/nightsky/js/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript" src="/js/sendContact.js" ></script>
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
  </script> 
</head>
<body>