
# 服务器侦听参数配置
server:
    host: 0.0.0.0             # 默认在所有IP上提供服务
    port: 3456                # 默认端口

# MySQL连接参数配置
mysql:
    cloudDBPrefix:    "myDB"    # Cloud数据库名称前缀
    host: localhost             # MySQL主机host
    user: root                  # MySQL用户名
    password: "100821"          # MySQL密码
    port: 3306                  # 默认Mysql端口
    maxConnection: 20           # 连接池最大数量
    minConnection: 2            # 连接池最小数量
    idle: 300                   # idle时长
    supportBigNumbers: true     # 设定MySQL支持BigNumber
    bigNumberStrings: true
    debugMode: false

# 日志设置
logger:
    level: TRACE              # 日志级别为最详细
    isColorful: true          # 以彩色打印

# 本地化设置
local: cn              # cn中文，en英文

# baidu ak
baiduAK: aaaaaaa     # baidu api ak
baiduAIappId: 10097928
baiduAIapiKey: bbbbb
baiduAIsecretKey: ccccc

# face++ ak
faceApiKey: ddddd     # face++ api key
faceApiSecret: ssss     # face++ api secret


# redis设置
redis:
    host: 127.0.0.1
    port: 6379
    user: user
    password: romens
    database-number: 3


# token设置
auth:
    on    : true              # 是否开启身份校验
    issuer: backend.dawei     # 签发者
    expire: 7200              # 失效时间，单位：秒
    secret: romens            # 校验码

# email配置
email:
    fromUser : "example@example.com"
    passWord : "Admin321"
    host :     "smtp.mxhichina.com"
    port :     465

# 是否启用swagger mock模式
mockMode: true
