
# 服务器侦听参数配置
server:
    host: 0.0.0.0             # 默认在所有IP上提供服务
    port: 3456                # 默认端口

# MySQL连接参数配置
mysql:
    cloudDBPrefix:    "RecruitDB"    # Cloud数据库名称前缀
    host: localhost                  # MySQL主机host
    user: root                # MySQL用户名
    password: "100821"          # MySQL密码
    port: 3306                # 默认Mysql端口
    maxConnection: 20         # 连接池最大数量
    minConnection: 2          # 连接池最小数量
    idle: 300                 # idle时长
    supportBigNumbers: true   # 设定MySQL支持BigNumber
    bigNumberStrings: true
    debugMode: false

# 日志设置
logger:
    level: TRACE              # 日志级别为最详细
    isColorful: true          # 以彩色打印

# 本地化设置
local: cn              # cn中文，en英文

# baidu ak
baiduAK: 299c2196c6beebca94cc5fde79fe94ce     # baidu api ak
baiduAIappId: 10097928
baiduAIapiKey: RbaW7kwL33faGKV9T2yoxIZk
baiduAIsecretKey: cSLte0nzBCn8eTjUOzUs6RhSXMX9PMRY

# face++ ak
faceApiKey: NF3aaauNhqsW4r3UHX0kPsHj2cesYpmm     # face++ api key
faceApiSecret: SiYk_gJuaBdql8WLah3hSoZCS_UuTZ4i     # face++ api secret
# redis设置
redis:
    host: 127.0.0.1
    port: 6379
    user: user
    password: romens
    database-number: 3
    redisPrefix : "backendSample"
    kue-prefix: 'q'               # kue前缀
    kue-port: 3050                # kue队列ui端口
    kue-attempts: 1               # kue重试次数
# token设置
auth:
    on    : true              # 是否开启身份校验
    issuer: backend.dawei     # 签发者
    expire: 7200              # 失效时间，单位：秒
    secret: romens            # 校验码

# email配置
email:
    fromUser : "robot@daweixiao.top"
    passWord : "Admin321"
    host :     "smtp.mxhichina.com"
    port :     465
##############################################
# 以下为高级配置，生产环境中严禁修改
##############################################

# 是否启用swagger mock模式
mockMode: true
