<!DOCTYPE HTML>

<html xml:lang="<%= header.lang%>">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title data-style="Bigg"><%= header.title%></title>
<meta name="description" content="<%= header.description%>" />
<meta name="robots" content="<%= header.keywords%>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" id="child-theme-css" href="/bigg/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" id="responsive-main-css-css" href="/bigg/css/responsive-main.min.css" type="text/css" media="all" />
<link rel="stylesheet" id="responsive-css-css" href="/bigg/css/responsive.css" type="text/css" media="all" />
<link rel="stylesheet" id="tb_styles-css" href="/bigg/css/tb-styles.min.css" type="text/css" media="all" />

<script type="text/javascript" src="/bigg/js/jquery.js"></script>
<script type="text/javascript" src="/bigg/js/sendContact.js" ></script>
</head>